
.container {
    width: 90vw;
    height: 70vh;
    position: fixed;
    top: 18vh;
    left: 3vw;
    overflow-y: scroll;
}

.person {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition-duration: 200ms;
    margin-bottom: 5vh;
}

.person:hover {
    background-color: rgba(178, 178, 178, 0.362);
}

.smContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-left: 1vw;
}

.mContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.profileImg {
    background-color: #d9d9d9;
    border-radius: 100vw;
    height: 120px;
    width: 120px;

    max-width: 120px;
    max-height: 120px;
    min-height: 120px;
    min-width: 120px;
}
.profileName {
    font-size: 1.3em;
    font-weight: bold;
    font-family: Arial, Helvetica;
}

.lastRecord {
    font-size: 1em;
    color: gray;
    font-family: Arial, Helvetica;
    margin-top: 10px;
}

.lastTime {
    color: gray;
    font-family: Arial, Helvetica;
}

.count {
    background-color: crimson;
    font-family: Arial, Helvetica;
    color: white;
    border-radius: 5vw;
    padding: 5% 5%;
    text-align: center;
    margin-top: 10px;
}