.box {
    background-color: #d9d9d9;
    height: 10vh;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerBtn {
    background: none;
    border: 0;
    cursor: pointer;
}

.footerBtn img {
    max-width: 50px;
    max-height: 50px;
    width: 10vw;
    height: 10vh;
}